h2 {
  text-align: center;
}

body {
  width: 500px;
  margin: 0 auto;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    -webkit-padding-start: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
  text-align: center;
}

img {
  margin: 20px 0;
  border: 5px solid #000;

}

#cats {
  margin-top: 40px;
}